---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

<!-- {% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %} -->


(* indicates co-first author)

*Automated Control of External Ventricular Drain for Neuro-ICU* Digital WPI 2024 E-project-042524-045431, (Bachelor Thesis) PDF Haotian Liu*, Yujie Guo*, Haoran Zhang*, and Matthew Duncan*

Loss Distillation via Gradient Matching for Point Cloud Completion with Weighted Chamfer Distance IEEE/RSJ IROS 2024, (Oral Presentation) PDF Haotian Liu*, Fangzhou Lin*, Songlin Hou*, Haoying Zhou*, Kazunori Yamada, Gregory S. Fischer, Yanhua Li, and Ziming Zhang

Vision-based FDM Printing for Fabricating Airtight Soft Actuators IEEE RoboSoft 2024 at San Diego, CA, USA (Oral Presentation) PDF Yijia Wu*, Zilin Dai*, Haotian Liu, Lehong Wang, and Markus P. Nemitz

STREAM: Software Tool for Routing Efficiently Advanced Macrofluidics Under Review PDF Lehong Wang, Savita V. Kendre, Haotian Liu, and Markus P. Nemitz


